.interactive-meditation-section {
    padding-top: 150px;
    padding-bottom: 150px;

    .components-wrapper {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;

        .circles-wrapper {
            position: relative;
            margin-bottom: 40px;
            z-index: -1;
            
            .outline-circle {
                width: 300px;
                height: 300px;
                display: block;
                background-color: transparent;
                border: 20px solid #353535;
                border-radius: 100%;
                filter: drop-shadow(0px 5px 40px rgba(0, 0, 0, 0.3));
            }
            
            .inner-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 50px;
                width: 50px;
                background-color: $mainGreen;
                border-radius: 100%;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
                transition: 4s;
            }
        }

        .inner-circle.progress {
            width: 255px;
            height: 255px;
        }

        .instructions {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 40px;
        }

        .start-btn {
            text-decoration: none;
            color: $mainColor;
            font-size: 24px;
            font-weight: 600;
            background-color: $mainGreen;
            border: 2px solid $mainGreen;
            display: block;
            padding-top: 21px;
            padding-bottom: 21px;
            border-radius: 5px;
            margin-bottom: 40px;
            transition: 0.2s;

            &:hover {
                color: $mainGreen;
                background-color: transparent;
            }
        }

        .countdown-timer {
            font-size: 30px;
            font-weight: 600;
            background-color: #222222;
            display: inline-block;
            width: 115px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
        }
    }
}

// Meditation Finished Screen

.meditation-finished-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $mainColor;

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        text-align: center;
        width: 420px;

        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .back-btn {
            text-decoration: none;
            color: $mainColor;
            font-size: 28px;
            font-weight: 500;
            display: block;
            width: 100%;
            background-color: $mainGreen;
            border: 2px solid $mainGreen;
            padding-top: 21px;
            padding-bottom: 21px;
            border-radius: 5px;
            transition: 0.2s;

            &:hover {
                color: $mainGreen;
                background-color: transparent;
            }
        }
    }
}

.hidden {
    display: none;
}

// Media Queries

@media (max-width: 360px) {

    .interactive-meditation-section {
        padding-top: 75px;
        padding-bottom: 75px;

        .components-wrapper {
            max-width: 250px;

            .circles-wrapper {
                margin-bottom: 20px;

                .outline-circle {
                    width: 250px;
                    height: 250px;
                }

                .inner-circle.progress {
                    width: 207px;
                    height: 207px;
                }
            }

            .instructions {
                font-size: 19px;
                margin-bottom: 20px;
            }

            .start-btn {
                font-size: 20px;
                margin-bottom: 20px;
            }

            .countdown-timer {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 450px) {

    .meditation-finished-screen {

        .content-wrapper {
            width: 100%;
            display: block;
            right: 0;
            padding-left: 20px;
            padding-right: 20px;

            h2 {
                font-size: 23px;
            }

            .back-btn {
                font-size: 24px;
            }
        }
    }
}